

.vs/VisitorsManagement/FileContentIndex/f6d158f9-1ec2-48c3-9ecb-6393e020e83c.vsidx
.vs/VisitorsManagement/FileContentIndex/fa3b7327-3217-4500-870e-67ac75cc20aa.vsidx
.vs/VisitorsManagement/v16/.suo
.vs/VisitorsManagement/v17/.suo
VisitorsManagement/bin/VisitorsManagement.dll
VisitorsManagement/bin/VisitorsManagement.pdb
.vs/VisitorsManagement/FileContentIndex/34ae6499-9264-4db9-8b1f-dfbe84816c93.vsidx
/.vs
/bin
/.vs/VisitorsManagement/*
\.vs\*

