
@{
    ViewBag.Title = "ChangePassword";
}



<div ng-controller="ctrlChangePass" class="">
    <div class="row">
        <div class="col-12">
            <h3 style="color:#002454"><b>Visitor's Management</b> </h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <form id="frmChange" name="frmChange">

                <div>
                    <label>Old Password</label>
                    <input type="password" name="oldPasssword" ng-model="UserModel.oldpassword"  required class="form-control" />
                </div>
                <div>
                    <label>New Password</label>
                    <input type="password" name="newPasssword" ng-model="UserModel.newpassword" ng-keyup="Compare()" required class="form-control" />
                    
                </div>
                <div>
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" ng-model="UserModel.confirmPassword" ng-keyup="Compare()" required ng-pattern="UserModel.newpassword" class="form-control" />
                    <div ng-show="IsVisible" class="help-block" style="color: red">
                        New and Confirm Password do not match
                    </div>
                </div>
                <div>
                    <span>Note :- Password must contain minumum 8 characters, One Upper Case character, One Lower Case character & One Digit. For Ex. Password123</span>
                </div>
                <button type="submit" class="btn btn-local" ng-click="ChangePassword()" ng-disabled="frmChange.oldpassword.$error.required || frmChange.newpassword.$error.required || frmChange.confirmPassword.$error.required || frmChange.confirmPassword.$invalid" id="password_modal_save">Change Password</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>

</div>