<head>

    <meta name="viewport" content="width=device-width" />
    <title>Remote Employee</title>

    <style>
        .containerDiv {
            height: 1000px !important;
        }

        .input-append.date .datepicker {
            width: 160px !important;
            display: inline;
        }
    </style>
</head>
<body>

    <div class="mt-1" id="RemoteEmployeeCtrl" ng-controller="RemoteEmployeeCtrl" ng-cloak>

        <div class="row">
            <div class="col-6 w-100 d-inline-flex">
                <h3 style="color:#002454"><b>Remote Employee</b> </h3>
            </div>
            <div class="col-2">

            </div>
            <div class="col-3 w-100" ng-show="showTable">
                <input type="text" class="form-control" style="width:100%;" ng-model="searchFilter" placeholder="Search.." />
                @*<button class="btn btn-primary form-control" style="background-color:#002454; border-radius:4px; width:40px; margin-bottom:4px !important;" type="button" ng-click="SearchWorkPermit()"><i class='bx bx-search-alt-2'></i></button>*@
            </div>
            <div class="col-1 w-100" ng-show="showTable" ng-if="IsAccessable('CreateRE') || IsAccessable('CreateSC')">
                <input type="button" class="btn btn-local float-right" value="Add New" ng-click="AddNewRecord()" />
            </div>
        </div>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="row">
            <div class="col-12">
                <a style="float:right" class="btn" title="Export Table" ng-click="csv.generate()" ng-href="{{ csv.link() }}" download="RemoteEmployee.csv">
                    <i class="glyphicon glyphicon-new-window"></i>&nbsp;Export
                </a>
            </div>
        </div>
        <div style="height: 50%;display:none">
            <div class="row">


                <div class="col-12">
                    <div class="freeze-table">


                        <table id="tableParams" show-filter="false" style="height:1px;" class="table table-bordered bordered table-condensed datatable"
                               ng-table="tableParams" export-csv="csv" separator="," export-csv-ignore="noExl">
                            @*<colgroup>
                                <col class="s10" />
                                <col class="s10" />
                                <col class="s20" />
                                <col class="s15" />
                                <col class="s10" />
                                <col class="s10" />
                                <col class="s5" />
                                <col class="s5" />
                                <col class="s5" />
                                <col class="s10 " />
                                <col class="s10 " />
                                <col class="s10 " />
                                <col class="s10 " />
                            </colgroup>*@
                            <thead>
                                <tr>
                                    <th class="s10">
                                        RE Number
                                    </th>
                                    <th class="s10">
                                        H Code
                                    </th>
                                    <th class="s20">
                                        Employee Name
                                    </th>
                                    <th class="s15">
                                        Email ID
                                    </th>
                                    <th class="s15">
                                        Concern Person
                                    </th>
                                    <th class="s10">
                                        Check In Date Time
                                    </th>
                                    <th class="s10">
                                        Check Out Date Time
                                    </th>
                                    <th class="s5">
                                        Vehical Number
                                    </th>
                                    <th class="s5">
                                        Comments
                                    </th>
                                    <th class="s5">
                                        Status
                                    </th>
                                    <th class="s5">
                                        Created By
                                    </th>
                                    <th class="s10">
                                        Created Date
                                    </th>


                                    <th class="s10">
                                        Guest Access Card Issued
                                    </th>

                                    <th class="s10">
                                        Access Card Collection Status
                                    </th>

                                    <th class="s10">
                                        Escalation
                                    </th>

                                    <th class="s10">
                                        Deafult Guest Card Number
                                    </th>




                                </tr>
                            </thead>
                            <tr ng-repeat="details in data | filter:searchFilter" ng-repeat-end>

                                <td ng-attr-title="{{details.Re_Number}}">{{details.Re_Number}}</td>
                                <td ng-attr-title="{{details.Hcode}}">{{details.Hcode}}</td>
                                <td ng-attr-title="{{details.Name}}">{{details.Name}}</td>
                                <td ng-attr-title="{{details.EmailID}}">{{details.EmailID}}</td>
                                <td ng-attr-title="{{details.ConcernPersonName}}">{{details.ConcernPersonName}}</td>
                                <td ng-attr-title="{{details.CheckinDateTime}}">{{details.CheckinDateTime}}</td>
                                <td ng-attr-title="{{details.CheckOutDateTime}}">{{details.CheckOutDateTime}}</td>
                                <td ng-attr-title="{{details.VehicalNumber}}">{{details.VehicalNumber}}</td>
                                <td ng-attr-title="{{details.Comments}}">{{details.Comments}}</td>
                                <td ng-attr-title="{{details.Status}}">{{details.Status}}</td>
                                <td ng-attr-title="{{details.CreatedByName}}">{{details.CreatedByName}}</td>
                                <td ng-attr-title="{{details.CreatedDate}}">{{details.CreatedDate}}</td>


                                <td ng-attr-title="{{details.GuestAccessCardIssue}}">{{details.GuestAccessCardIssue}}</td>
                                <td ng-attr-title="{{details.AccessCardCollectionStatus}}">{{details.AccessCardCollectionStatus}}</td>
                                <td ng-attr-title="{{details.Escalation}}">{{details.Escalation}}</td>
                                <td ng-attr-title="{{details.DeafultGuestCardNumber}}">{{details.DeafultGuestCardNumber}}</td>


                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div ng-show="showTable">
            <div class="row">
                <div class="col-12">

                </div>
                <div class="col-12" style="height:75vh;">
                    <div class="freeze-table" style="width:100%; height:100%;">
                        <table id="tableParams" show-filter="false" class="table table-bordered bordered table-condensed datatable" ng-table="tableParams">
                            <tr ng-repeat="details in $data| filter:searchFilter">
                                <td class="s5" data-title="'RE Number'" sortable="'Re_Number'" ng-bind="details.Re_Number" ng-attr-title="{{details.Re_Number}}"></td>
                                <td class="s5" data-title="'H Code'" sortable="'Hcode'" ng-bind="details.Hcode" ng-attr-title="{{details.Hcode}}"></td>
                                <td class="s25" data-title="'Name'" sortable="'Name'" ng-bind="details.Name" ng-attr-title="{{details.Name}}"></td>
                                <td class="s20" data-title="'Email ID'" sortable="'EmailID'" ng-bind="details.EmailID" ng-attr-title="{{details.EmailID}}"></td>

                                <td class="s10" data-title="'Checkin Date Time'" sortable="'CheckinDateTime'" ng-bind="details.CheckinDateTime" ng-attr-title="{{details.CheckinDateTime}}"></td>
                                <td class="s10" data-title="'Checked Out Date Time'" sortable="'CheckOutDateTime'" ng-bind="details.CheckOutDateTime" ng-attr-title="{{details.CheckOutDateTime}}"></td>
                                <td class="s10" data-title="'Concern Person'" sortable="'ConcernPersonName'" ng-bind="details.ConcernPersonName" ng-attr-title="{{details.ConcernPersonName}}"></td>
                                <td class="s5" data-title="'Status'"
                                    sortable="'Status'" ng-bind="details.Status" ng-attr-title="{{details.Status}}"></td>


                                <td class="s15" ng-if="IsAccessable('UpdateRE')" data-title="'View / Edit'">
                                    <a ng-if="!isSecurityRole && details.Status == 'Open' && IsAccessable('UpdateRE')" class="editButton" ng-click="EditRemoteEmployee(details.Pkey,'Edit')" title="View/Edit"> <i style="font-size: 17px;" class="bx bx-edit-alt"></i></a>
                                    <a ng-if="details.Status == 'Open' && !isSecurityRole"
                                       data-toggle="modal" data-target="#exampleModalCancelRE"
                                       title="Cancel Remote Employee Request" class="editButton" ng-click="CancelRE(details.Pkey)"><i style="font-size: 17px;" class='bx bx-user-x'></i></a>

                                    <a class="btn btn-link" ng-if="IsAccessable('ReadRE')" ng-click="EditRemoteEmployee(details.Pkey,'View')" title="View/Edit"> View</a>

                                    <button ng-if="isSecurityRole && details.IsCheckInToday && details.Status == 'Open'"
                                            ng-click="ViewSecurityCheck(details.Pkey,'Check In')"
                                            type="button" class="btn btn-success ml-1 gridButtons">
                                        Check In
                                    </button>
                                    <button ng-if="isSecurityRole && details.IsCheckInToday && details.Status == 'Check In'"
                                            ng-click="ViewSecurityCheck(details.Pkey,'Checked Out')"
                                            type="button" class="btn btn-danger ml-1 gridButtons">
                                        Check Out
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <div style="text-align:center;display:none" id="noDataFound">
                            No data found
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModalCancelRE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:500px !important;left:33% !important">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="hideenRemoteEmployeeId">
                        Are you sure you want to cancel the remote employee request
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCloseREPopup" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="CancelRemoteEmployee()" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="min-width:75%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Remote Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="FormAppointment">
                            <div class="row">
                                <div class="col-12">
                                </div>
                                <div class="col-12">
                                    <div class="row">

                                        <div id="DvRENumber" class="col-4">
                                            <div class="form-group">
                                                <label>RE Number</label>
                                                <br>
                                                <h5 class="text-success"> {{RemoteEmployeeModel.Re_Number}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <input type="hidden" id="Pkey" ng-model="RemoteEmployeeModel.Pkey" />
                                                <label>H Code</label>
                                                <div ng-disabled="DisableCOntrolOnEdit" id="Hcode" ng-model="RemoteEmployeeModel.Hcode" maxlength="80" required angucomplete-alt placeholder="H Code" pause="100" selected-object="SelectedRemoteEmployeeForAutocomplete"
                                                     local-data="HcodeAutoCompleteData" search-fields="Hcode" description-field="Name" override-suggestions="true" title-field="Hcode"
                                                     minlength="1" input-class="form-control" match-class="highlight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Employee Name</label>
                                                <input type="text" ng-disabled="DisableCOntrolOnEdit" id="Name" ng-model="RemoteEmployeeModel.Name" maxlength="80" class="form-control" placeholder="Enter Employee Name" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Email ID</label>
                                                <input type="text" ng-disabled="DisableCOntrolOnEdit" id="EmailID" ng-model="RemoteEmployeeModel.EmailID" maxlength="80" class="form-control" placeholder="Enter Email Id" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-4" id="sandbox-container">

                                            <div class="form-group">
                                                <label>Check in date and time </label>
                                                <div class="input-append date dvCheckinDateTime">
                                                    <input type="text" ng-disabled="DisableCOntrolOnEdit" id="CheckinDateTime" placeholder="Enter Check In Date" class="datepicker form-control readonly Date"><span class="input-group-addon pl-1"><i class='bx bx-calendar' style='font-size:22px'></i></span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-4" id="sandbox-container">
                                            <div class="form-group">
                                                <label>Check out date and time</label>
                                                <div class="input-append date dvCheckOutDateTime">
                                                    <input type="text" ng-disabled="DisableCOntrolOnEditAdmin" id="CheckOutDateTime" placeholder="Enter Check Out Date" class="datepicker form-control readonly Date"><span class="input-group-addon pl-1"><i class='bx bx-calendar' style='font-size:22px'></i></span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-4" id="DvBookForWeekend" style="display:none">
                                            <div>
                                                <label>Book for Weekend's</label>
                                                <input class="form-control checkBox ng-valid ng-dirty ng-valid-parse ng-not-empty ng-touched"
                                                       ng-disabled="DisableCOntrolOnEditAdmin" id="BookForWeekend" type="checkbox" value="true" style="">

                                            </div>
                                        </div>


                                    </div>


                                    <div class="row">
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label>Comments</label>
                                                <textarea rows="5" ng-disabled="DisableCOntrolOnEditAdmin" id="Comments" ng-model="RemoteEmployeeModel.Comments" style="min-width:100%;" maxlength="200" class="form-control" placeholder="Enter Comment.."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">

                                                <label>Status</label><br />
                                                @*<label id="status"><h2 style="color:">{{}}</h2></label>*@
                                                <h3 class="text-success" id="RemoteEmployStatus">{{ RemoteEmployeeModel.Status }}</h3>
                                                <input type="hidden" id="TxtStatus" ng-model="RemoteEmployeeModel.Status" value="Open" placeholder="Status" />
                                            </div>
                                        </div>
                                        <div class="col-2">
                                         
                                            <div class="form-group" ng-if="!isSecurityRole">
                                                <label>Concern Person</label><br />
                                                <label><b>{{RemoteEmployeeModel.ConcernPersonName}}</b></label>
                                            </div>
                                            <div class="form-group" ng-if="isSecurityRole">
                                                <label>Concern Person</label>
                                                <select ng-disabled="DisableCOntrolOnEdit" class="form-control selectpicker  show-tick" title="Select Employee" data-live-search="true" id="ddlEmployee"
                                                        data-size="8" required>
                                                    <option ng-repeat="employee in employeeMasterRE" value='{{ employee.ValueInt }}'>{{ employee.Text }}</option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row" ng-if="RequestFor=='View'">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Vehical Number</label>
                                                <br>
                                                <h5> {{RemoteEmployeeModel.VehicalNumber}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Guest Access Card Issued?</label>
                                                <br>
                                                <h5> {{RemoteEmployeeModel.GuestAccessCardIssue}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Deafult Guest Card Number</label>
                                                <br>
                                                <h5> {{RemoteEmployeeModel.DeafultGuestCardNumber}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Access Card Collection Status</label>
                                                <br>
                                                <h5> {{RemoteEmployeeModel.AccessCardCollectionStatus}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Escalation</label>
                                                <br>
                                                <h5> {{RemoteEmployeeModel.Escalation}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-if="!DisableCOntrolOnEditAdmin" type="button" class="btn btn-local" ng-click="SaveRemoteEmployee()">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="SecurityCheckModel" tabindex="-1" role="dialog" aria-labelledby="SecurityCheckModel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="min-width:75%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SecurityCheckModelLabel">Remote Employee Security Check</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="FormSecurityCheck">
                            <div class="row">
                                <div class="col-12">
                                </div>
                                <div class="col-12">
                                    <input type="hidden" id="HcodeSecurityCheckModel_Pkey" ng-model="RemoteEmployeeSecurityCheck.Pkey" />
                                    <input type="hidden" id="TxtStatusSc" ng-model="RemoteEmployeeSecurityCheck.Status" value="Open" placeholder="Status" />

                                    <div class="row" ng-if="RequestFor=='View'">
                                        <div class="col-4">
                                            <div class="form-group">

                                                <label>H Code</label>
                                                <div ng-disabled="DisableSecuirtyCheck" id="HcodeSecurityCheckModel" ng-model="RemoteEmployeeSecurityCheck.Hcode" maxlength="80" required angucomplete-alt placeholder="H Code" pause="100" selected-object="SelectedRemoteEmployeeForAutocomplete"
                                                     local-data="HcodeAutoCompleteData" search-fields="Hcode" description-field="Name" override-suggestions="true" title-field="Hcode"
                                                     minlength="1" input-class="form-control" match-class="highlight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Employee Name</label>
                                                <input type="text" ng-disabled="DisableSecuirtyCheck" id="Name" ng-model="RemoteEmployeeSecurityCheck.Name" maxlength="80" class="form-control" placeholder="Enter Employee Name" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Email ID</label>
                                                <input type="text" ng-disabled="DisableSecuirtyCheck" id="EmailID" ng-model="RemoteEmployeeSecurityCheck.EmailID" maxlength="80" class="form-control" placeholder="Enter Email Id" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row" ng-if="RequestFor=='View'">
                                        <div class="col-4" id="sandbox-container">
                                            <div class="form-group">
                                                <label>Check in date</label>
                                                <div class="input-append date dvCheckinDateTimeSc">
                                                    <input type="text" ng-disabled="DisableSecuirtyCheck" id="CheckinDateTimeSc" placeholder="Enter Check In Date" class="datepicker form-control readonly Date"><span class="input-group-addon pl-1"><i class='bx bx-calendar' style='font-size:22px'></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4" id="sandbox-container">
                                            <div class="form-group">
                                                <label>Check out date</label>
                                                <div class="input-append date dvCheckOutDateTimeSc">
                                                    <input ng-disabled="DisableSecuirtyCheck" type="text" id="CheckOutDateTimeSc" placeholder="Enter Check Out Date" class="datepicker form-control readonly Date"><span class="input-group-addon pl-1"><i class='bx bx-calendar' style='font-size:22px'></i></span>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row" ng-if="RequestFor=='View'">
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label>Comments</label>
                                                <textarea rows="5" id="Comments" ng-disabled="DisableSecuirtyCheckMainCOntrols" ng-model="RemoteEmployeeSecurityCheck.Comments" style="min-width:100%;" maxlength="200" class="form-control" placeholder="Enter Comment.."></textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row" ng-if="RequestFor=='View' || RequestFor=='Check In' || RequestFor=='Checked Out'">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Is Vehical Parked On Premises</label>
                                                <input type="checkbox" ng-disabled="DisableSecuirtyCheckMainCOntrols"
                                                       class="form-control checkBox ng-valid ng-dirty ng-valid-parse ng-not-empty ng-touched"
                                                       value="true" id="IsVehicalParkedOnPremises" onclick="IsVehicalParkedOnPremisesClick()" />
                                            </div>
                                        </div>
                                        <div class="col-4" style="display:none" id="DvVichalNumber" ng-if="RequestFor=='View' || RequestFor=='Check In' || RequestFor=='Checked Out'">
                                            <div class="form-group">
                                                <label>Vehical Number</label>
                                                <input type="text" ng-disabled="DisableSecuirtyCheckMainCOntrols" id="VehicalNumber" ng-model="RemoteEmployeeSecurityCheck.VehicalNumber" maxlength="80" class="form-control" placeholder="Vehical Number" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-4" ng-if="RequestFor=='View' || RequestFor=='Checked Out' || RequestFor=='Check In'">
                                            <div class="form-group">
                                                <label>Guest Access Card Issued</label>
                                                <select ng-disabled="DisableSecuirtyCheckMainCOntrols" class="form-control show-tick" title="Is Card Issued" onchange="SelectedddlGuestAccessCardIssue()" data-live-search="false" id="ddlGuestAccessCardIssue"
                                                        data-size="8" required>
                                                    <option ng-repeat="purpose in AccessCardIssueList" value='{{ purpose.text }}'>{{ purpose.text }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4" id="DvDefaultAccessCardNumber" style="display:none" ng-if="RequestFor=='View' || RequestFor=='Checked Out' || RequestFor=='Check In'">
                                            <div class="form-group">
                                                <label>Default Guest Card Number</label>
                                                <input ng-disabled="DisableSecuirtyCheckMainCOntrols" type="text" id="DeafultGuestCardNumber" ng-model="RemoteEmployeeSecurityCheck.DeafultGuestCardNumber" maxlength="200" class="form-control" placeholder="Default Guest Card Number" />
                                            </div>
                                        </div>
                                        <div class="col-4" id="dvAccessCardCollected" style="display:none" ng-if="RequestFor=='View' || RequestFor=='Checked Out' || RequestFor=='Check In'">
                                            <div class="form-group">
                                                <label>Guest Access Card Collected</label>
                                                <select ng-disabled="DisableSecuirtyCheckMainCOntrolsChecKOut" class="form-control  show-tick" onchange="SelectedIsAccessCardCollected()" title="Is Card Collected" data-live-search="false" id="ddlAccessCardCollected"
                                                        data-size="8" required>
                                                    <option ng-repeat="purpose in AccessCardCollectedList" value='{{ purpose.text }}'>{{ purpose.text }}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" id="DvEscalation" style="display:none" ng-if="RequestFor=='View' || RequestFor=='Checked Out' || RequestFor=='Check In'">
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label>Escalation</label>
                                                <textarea ng-disabled="DisableSecuirtyCheckMainCOntrolsChecKOut" rows="5" id="Escalation" ng-model="RemoteEmployeeSecurityCheck.Escalation" style="min-width:100%;" maxlength="200" class="form-control" placeholder="Enter Escalation.."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btnSaveSecurityCHeck" ng-if="RequestFor=='Check In' || RequestFor=='Checked Out'" type="button" class="btn btn-local" ng-click="SaveSecurityCheck()">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <script>
        //$('#sandbox-container .input-append.date').datepicker({
        //    format: "dd-M-yyyy",
        //    todayBtn: true,
        //    autoclose: true,
        //    todayHighlight: true,
        //    calendarWeeks: true,
        //    startDate: new Date()
        //});

        $(".bx-calendar").click(function () {
            if ($(this).closest(".input-append").hasClass("dvCheckinDateTime")) {
                $("#CheckinDateTime").datetimepicker("show");
            }
            else if ($(this).closest(".input-append").hasClass("dvCheckinDateTimeSc")) {
                $("#CheckinDateTimeSc").datetimepicker("show");
            }
            else if ($(this).closest(".input-append").hasClass("dvCheckOutDateTimeSc")) {
                $("#CheckOutDateTimeSc").datetimepicker("show");
            }
            else {
                $("#CheckOutDateTime").datetimepicker("show");
            }
        })

        $("#CheckOutDateTime, #CheckinDateTime, #CheckinDateTimeSc, #CheckOutDateTimeSc").datetimepicker({
            format: "dd-M-yyyy hh:ii",
            todayBtn: true,
            autoclose: true,
            todayHighlight: true,
            calendarWeeks: true,
            startDate: new Date(),
            showMeridian: true,
        });



        $('#CheckOutDateTime')
            .datetimepicker()
            .on('changeDate', function (ev) {
                var hasWeekendExsist = hasWeekend(extractDate($("#CheckinDateTime").val()), extractDate($('#CheckOutDateTime').val()));
                if (hasWeekendExsist == true) {

                    $("#DvBookForWeekend").css("display", "");
                }
                else {
                    $("#DvBookForWeekend").css("display", "none");
                }
            });

        function extractDate(dateTime) {
            // Split the string by space and take the first part
            var datePart = dateTime.split(' ')[0];
            return datePart;
        }

        $('#CheckinDateTime')
            .datetimepicker()
            .on('changeDate', function (ev) {

                var hasWeekendExsist = hasWeekend(extractDate($("#CheckinDateTime").val()), extractDate($('#CheckOutDateTime').val()));
                if (hasWeekendExsist == true) {

                    $("#DvBookForWeekend").css("display", "");
                }
                else {
                    $("#DvBookForWeekend").css("display", "none");
                }
            });


        function hasWeekend(startDate, endDate) {
            // Convert input strings to Date objects
            var start = new Date(startDate);
            var end = new Date(endDate);

            // Loop through each day between startDate and endDate
            for (var currentDate = new Date(start); currentDate <= end; currentDate.setDate(currentDate.getDate() + 1)) {
                // Check if the current day is Saturday (6) or Sunday (0)
                console.log()
                if (currentDate.getDay() === 0 || currentDate.getDay() === 6) {
                    return true; // If it's a weekend, return true
                }
            }

            return false; // No weekend found between the dates
        }



        function IsVehicalParkedOnPremisesClick() {
            if ($("#IsVehicalParkedOnPremises").is(':checked')) {
                $("#DvVichalNumber").css("display", "");
            } else {
                $("#DvVichalNumber").css("display", "none");
            }
        }
        var freezeTable = new FreezeTable('.freeze-table', {
            'scrollable': true,
        });
        function SelectedddlGuestAccessCardIssue() {

            if ($("#ddlGuestAccessCardIssue").val() == "Yes") {
                // $("#dvAccessCardCollected").css("display", "");
                $("#DvDefaultAccessCardNumber").css("display", "");

            }
            else {
                // $("#dvAccessCardCollected").css("display", "none");
                $("#DvDefaultAccessCardNumber").css("display", "none");
                $("#DvEscalation").css("display", "none");
            }
        };


        function SelectedIsAccessCardCollected() {
            if ($("#ddlAccessCardCollected").val() == "No") {
                $("#DvEscalation").css("display", "");
            }
            else {
                $("#DvEscalation").css("display", "none");

            }
        }


        $(document).ready(function () {

        });

    </script>
</body>