
@{
    ViewBag.Title = "Visitor's Management";
}

@*<script type="text/javascript" src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>*@
<body>
    <div class="mt-1" ng-controller="VisitorsMgmtCtrl" ng-cloak>
        
        <div class="row">
            <div class="col-8 w-100 d-inline-flex">
                <h3 style="color:#002454"><b>Visitor's Management</b> </h3> <a style="font-size:35px; cursor:pointer;"; ng-click="VM_getAllAppointment()"><i class="bx bx-refresh"></i></a>
            </div>
           

            <div class="col-3 w-100" ng-show="showTable">
                <input type="text" class="form-control" style="width:100%;" ng-model="searchFilter" placeholder="Search.." />
                @*<button class="btn btn-primary form-control" style="background-color:#002454; border-radius:4px; width:40px; margin-bottom:4px !important;" type="button" ng-click="VM_SearchAppointment()"><i class='bx bx-search-alt-2'></i></button>*@
            </div>
            <div class="col-1 w-100" ng-show="showTable">
                <input type="button" class="btn btn-local float-right" data-toggle="modal" data-target="#exampleModal" value="Add New" ng-click="AddNewRecord()" />
            </div>
           
        </div>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="min-width:75%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Visitor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="FormAppointment">
                            <div class="row">
                                <div class="col-12">
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4" id="sandbox-container">
                                            <div class="form-group">
                                                <label style="margin-bottom:0px !important"> Date</label>
                                                <div class="input-append date">
                                                    <input readonly type="text" placeholder="Enter Date" class="datepicker form-control readonly Date" ng-model="AppointmentModel.Date"><span class="input-group-addon pl-1"><i class='far fa-calendar-alt' style='font-size:30px'></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Visitor Name</label>                                                
                                                <div id="divVisitorVisitorName"  ng-model="AppointmentModel.VisitorName" maxlength="80" required angucomplete-alt  placeholder="Enter Visitors Name "  pause="100" selected-object="SelectedVisitorForAutocomplete"
                                                     local-data="VistorMobiles" search-fields="VisitorName"   description-field="VisitorPhoneNumber" override-suggestions="true" title-field="VisitorName"
                                                     minlength="1" input-class="form-control" match-class="highlight">
                                                </div>
                                             </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Mobile No</label>
                                               
                                                <div id="divVisitorPhoneNumber" ng-model="AppointmentModel.VisitorPhoneNumber" maxlength="80" required angucomplete-alt placeholder="Enter Visitor Mobile No. " pause="100" selected-object="SelectedVisitorForAutocomplete"
                                                     local-data="VistorMobiles" search-fields="VisitorPhoneNumber" description-field="VisitorName"  override-suggestions="true" title-field="VisitorPhoneNumber"
                                                     minlength="1" maxlength="10" input-class="form-control" match-class="highlight">
                                                </div>
                                              </div>
                                        </div>
                                       

                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Visitor's Email ID</label>
                                                <input type="text" ng-model="AppointmentModel.VisitorsEmails" maxlength="80" class="form-control" placeholder="Enter Visitor Email Id" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Representing Company</label>
                                                <input type="text" ng-model="AppointmentModel.RepresentingCompany" maxlength="80" class="form-control" placeholder="Enter Representing Company" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" ng-model="AppointmentModel.Address" maxlength="100" class="form-control" placeholder="Enter Address" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Purpose To Visit</label>
                                                <select class="form-control selectpicker show-tick" title="Select Purpose" data-live-search="false" id="ddlPurpose"
                                                        data-size="8" required>
                                                    <option ng-repeat="purpose in VisitPurpose" value='{{ purpose.text }}'>{{ purpose.text }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Number of Person's</label>
                                                <div class="form-group">
                                                    <input type="number" min="1" ng-model="AppointmentModel.NumberOfPerson" class="form-control" required placeholder="Enter Number of Person to visit" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group" ng-if="!isSecurityRole">
                                                <label>Person To Visit </label><br />
                                                <label><b>{{AppointmentModel.UserFullName}}</b></label>
                                            </div>
                                            <div class="form-group" ng-if="isSecurityRole">
                                                <label>Visit To</label>
                                                <select class="form-control selectpicker show-tick" title="Select Employee" data-live-search="true" id="ddlEmployee"
                                                        data-size="8" required>
                                                    <option ng-repeat="employee in employeeMaster" value='{{ employee.ValueInt }}'>{{ employee.Text }}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label>Notes (Max 20 Character's)</label>
                                                <textarea rows="5" ng-model="AppointmentModel.Remark" style="min-width:100%;" maxlength="20" class="form-control" placeholder="Enter Notes.."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                
                                                <label>Status</label><br />
                                               @*<label id="status"><h2 style="color:">{{}}</h2></label>*@
                                                <h3 ng-class="AppointmentModel.Status == StatusMedia.Reject || AppointmentModel.Status == StatusMedia.Cancel ? 'text-danger' : 'text-success'">{{ AppointmentModel.Status }}</h3>
                                            </div>
                                        </div>
                                        @*<div angucomplete-alt id="txtCustomers" placeholder="Customer Name" pause="100" selected-object="SelectedCustomer"
                                             local-data="Customers" search-fields="ContactName" title-field="ContactName"
                                             minlength="1" input-class="form-control" match-class="highlight">
                                        </div>*@
                                         
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-local" ng-if="AppointmentModel.Status == StatusMedia.Open || AppointmentModel.Status == StatusMedia.Waitingforapproval" ng-click="VM_saveAppointment()">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="checkinModal" tabindex="-1" role="dialog" style="text-align: -webkit-center;" aria-labelledby="checkinModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:60%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Check In : {{ CheckinModel.VisitorsName }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="checkinAppointment">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="float-left">Number of Person's</label>
                                        <div class="form-group">
                                            <input type="number" min="1" ng-model="CheckinModel.NumberOfPerson" class="form-control" required placeholder="Enter Number of Person to visit" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="float-left">Visiting Pass No.</label>
                                        <div class="form-group">
                                            <input type="text" ng-model="CheckinModel.GatePassNumber" class="form-control" required placeholder="Enter Visiting Pass No." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="float-left">Material Details</label>
                                        <div class="form-group">
                                            <input type="text" ng-model="CheckinModel.MaterialDetails" class="form-control" required placeholder="Enter Material Details" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="float-left">Vehicle Details</label>
                                        <div class="form-group">
                                            <input type="text" ng-model="CheckinModel.VehicleDetails" class="form-control" required placeholder="Enter Vehicle Dettails" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-local" ng-click="CheckIn()">Check In</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="checkOutModal" tabindex="-1" role="dialog" style="text-align: -webkit-center;" aria-labelledby="checkOutModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:60%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Check Out : {{ CheckOutModel.VisitorsName }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="checkinAppointment">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="float-left">Remark</label>
                                        <div class="form-group">
                                            <input type="text" maxlength="300" ng-model="CheckOutModel.Narration" class="form-control" required placeholder="Remark" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-local" ng-click="CheckOutAppointment()">Check Out</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="height:50%;">
            <div class="row">
               

                <div class="col-12" style="height:75vh;">
                    <div class="freeze-table" style="width:100%; height:100%;">
                        
                        <a style="float:right" class="btn" title="Export Table" ng-click="csv.generate()" ng-href="{{ csv.link() }}" download="VisitorsList.csv">
                            <i class="glyphicon glyphicon-new-window"></i>&nbsp;Export
                        </a>
                        <table id="tableParams" show-filter="false" style="height:100%;" class="table table-bordered bordered table-condensed datatable" 
                               ng-table="tableParams" export-csv="csv" separator="," export-csv-ignore="noExl"> 
                            <colgroup>
                                <col class="s10" />
                                <col class="s20" />
                                <col class="s15" />
                                <col class="s10" />
                                <col class="s10" ng-if="isSecurityRole" />
                                <col class="s5" />
                                <col class="s5" />
                                <col class="s10 noExl" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="s10">
                                        Appointment No.
                                    </th>
                                    <th class="s20">
                                        Visitors Name
                                    </th>
                                    <th class="s15">
                                        Visit To
                                    </th>
                                    <th class="s10">
                                        Schedule Date
                                    </th>
                                    <th class="s10" ng-if="isSecurityRole">
                                        Person to Visit
                                    </th>
                                    <th class="s5">
                                        InTime
                                    </th>
                                    <th class="s5">
                                        OutTime
                                    </th>
                                    <th class="s5">
                                        Status
                                    </th>
                                    <th class="s10 noExl">
                                        View
                                    </th>
                                </tr>
                            </thead>
                            <tr class="ng-table-group" style="background: #F5F5F6; cursor:pointer !important" ng-repeat-start="group in $groups | filter:searchFilter "> {{$groups}}
                                <td colspan="8">
                                    <a href="" ng-click="switchGroup(group, $parent.$groups)">
                                        <span class="glyphicon" ng-class="{ 'fas fa-chevron-right': group.$hideRows, 'fas fa-chevron-down': !group.$hideRows }"></span>
                                        <strong>{{ group.value | date:'dd-MMM-yyyy'  }}  </strong>
                                    </a>
                                </td>
                            
                            </tr>
                            <tr ng-hide="group.$hideRows" ng-repeat="details in group.data | filter:searchFilter" ng-repeat-end>
                                <td ng-attr-title="{{details.AppointmentNo}}">{{details.AppointmentNo}}</td>
                                <td ng-attr-title="{{details.VisitorName}}">{{details.VisitorName}}</td>
                                <td ng-attr-title="{{details.PersonToVisitName}}">{{details.PersonToVisitName}}</td>
                                <td ng-attr-title="{{details.strDate}}">{{details.strDate}}</td>                               
                                <td ng-if="isSecurityRole" ng-attr-title="{{details.PersonToVisitName}}">{{details.PersonToVisitName}}</td>
                                <td ng-attr-title="{{details.InTime}}">{{details.InTime}}</td>
                                <td ng-attr-title="{{details.OutTime}}">{{details.OutTime}}</td>
                                <td ng-attr-title="{{details.Status}}">{{details.Status}}</td>
                                <td data-title="'View'" class="s10 noExl">
                                    <a title="View / Edit" class="editButton" ng-click="EditDetails(details.AppointmentID)"><i style="font-size: 17px;" class='bx bx-edit-alt'></i></a>
                                    <a ng-if="details.Status == StatusMedia.Waitingforapproval && !isSecurityRole" title="Approve Appointment" class="editButton" ng-click="approveAppointment(details.AppointmentID)"><i style="font-size: 17px;" class='bx bx-check'></i></a>
                                    <a ng-if="details.Status == StatusMedia.Waitingforapproval && !isSecurityRole" title="Reject Appointment" class="editButton" ng-click="rejectAppointment(details.AppointmentID)"><i style="font-size: 17px;" class='bx bx-x'></i></a>
                                    <a ng-if="details.Status == StatusMedia.Open && !isSecurityRole" title="Cancel Appointment" class="editButton" ng-click="CancelAppointment(details.AppointmentID)"><i style="font-size: 17px;" class='bx bx-user-x'></i></a>
                                    <button ng-if="isSecurityRole && details.IsCheckInToday && details.Status == StatusMedia.Open" type="button" ng-click="CheckInAppointment(details.AppointmentID,details.VisitorName,details.NumberOfPerson)" class="btn btn-success ml-1 gridButtons">Check In</button>
                                    <button ng-if="isSecurityRole && details.Status == StatusMedia.CheckIn" type="button" ng-click="CheckOut(details.AppointmentID,details.VisitorName)" class="btn btn-danger ml-1 gridButtons">Check Out</button>
                                    <a href="" ng-if="isSecurityRole && details.Status == StatusMedia.CheckIn" class="btn btn-link" ng-click="downloadReport(details.AppointmentID)" title="View"> Print </a>
                                </td>
                            </tr>
                            @*<tr ng-repeat="details in $data| filter:searchFilter">
                                <td class="s10" data-title="'Appointment No.'" sortable="'AppointmentNo'" ng-bind="details.AppointmentNo" ng-attr-title="{{details.AppointmentNo}}"></td>
                                <td class="s20" data-title="'Visitors Name'" sortable="'VisitorName'" ng-bind="details.VisitorName" ng-attr-title="{{details.VisitorName}}"></td>
                                <td class="s10" data-title="'Schedule Date'" sortable="'StrDate'" ng-bind="details.strDate" ng-attr-title="{{details.strDate}}"></td>
                                <td ng-if="isSecurityRole" class="s10" data-title="'Person to Visit'" sortable="'PersonToVisitName'" ng-bind="details.PersonToVisitName" ng-attr-title="{{details.PersonToVisitName}}"></td>
                                <td class="s5" data-title="'InTime'" sortable="'InTime'" ng-bind="details.InTime" ng-attr-title="{{details.InTime}}"></td>
                                <td class="s5" data-title="'Out Time'" sortable="'OutTime'" ng-bind="details.OutTime" ng-attr-title="{{details.OutTime}}"></td>
                                <td class="s10" data-title="'Status'" sortable="'Status'" ng-bind="details.Status" ng-attr-title="{{details.Status}}"></td>

                                <td data-title="'View'" class="s10">
                                    <a title="View / Edit"  class="editButton" ng-click="EditDetails(details.AppointmentID)"><i style="font-size: 17px;" class='bx bx-edit-alt'></i></a>
                                    <a ng-if="details.Status == StatusMedia.Waitingforapproval && !isSecurityRole" title="Approve Appointment" class="editButton" ng-click="approveAppointment(details.AppointmentID)"><i style="font-size: 17px;" class='bx bx-check'></i></a>
                                    <a ng-if="details.Status == StatusMedia.Waitingforapproval && !isSecurityRole" title="Reject Appointment" class="editButton" ng-click="rejectAppointment(details.AppointmentID)"><i style="font-size: 17px;" class='bx bx-x'></i></a>
                                    <a ng-if="details.Status == StatusMedia.Open && !isSecurityRole" title="Cancel Appointment" class="editButton" ng-click="CancelAppointment(details.AppointmentID)"><i style="font-size: 17px;" class='bx bx-user-x'></i></a>
                                    <button ng-if="isSecurityRole && details.IsCheckInToday && details.Status == StatusMedia.Open" type="button" ng-click="CheckInAppointment(details.AppointmentID,details.VisitorName,details.NumberOfPerson)" class="btn btn-success ml-1 gridButtons">Check In</button>
                                    <button ng-if="isSecurityRole && details.Status == StatusMedia.CheckIn" type="button" ng-click="CheckOut(details.AppointmentID,details.VisitorName)" class="btn btn-danger ml-1 gridButtons">Check Out</button>
                                    <a href="" ng-if="isSecurityRole && details.Status == StatusMedia.CheckIn" class="btn btn-link" ng-click="downloadReport(details.AppointmentID)" title="View"> Print </a>
                                </td>
                            </tr>*@
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

    <script>
        $('#sandbox-container .input-append.date').datepicker({
            format: "dd-M-yyyy",
            todayBtn: true,
            autoclose: true,
            todayHighlight: true,
            calendarWeeks: false,
            startDate: new Date()
        });
     
        
        var freezeTable = new FreezeTable('.freeze-table', {
            'scrollable': true,
        });

      

    </script>

</body>